@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@foreach (var mes in Model.Messages)
{
    <div>
        <div style="font-size:larger">@mes.Text</div>
        <div style="font-size: smaller">@mes.Sign --- @mes.When</div>
    </div>
}
<div id="bottom" />
<hr />
<div>
    @Html.AntiForgeryToken()
    <label asp-for="Text"></label>
    <input asp-for="Text" value="" />
    <input type="button" value="Send" onclick="send()" />
    <span asp-validation-for="Text"></span>
</div>

@section Scripts {
    <script src="~/js/index.js" type="text/javascript" charset="utf-8"></script>
}